@model ExperienceParser.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Content/Login/style.css" rel="stylesheet">
    <link href="~/Content/Login/style-responsive.css" rel="stylesheet">
</head>

<body>

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->

    <div id="registration-page">
        <div class="container">
            <form class="form-login">
                <h2 class="form-login-heading">Register now</h2>
                <div class="login-wrap">
                    @Html.ValidationSummary(true)
                    @using (Html.BeginForm())
                    {
                        @Html.EditorForModel()
                        <input type="text" class="form-control" placeholder="User ID" autofocus>
                        <br>
                        <input type="text" class="form-control" placeholder="Email">
                        <br>
                        <input type="password" class="form-control" placeholder="Password">                        
                        <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
                    }
                    <div class="registration">
                        Go Back<br />
                        @Html.ActionLink("Go Back", "Login", "Authentication")                        
                    </div>

                </div>    

            </form>

        </div>
    </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/jquery-1.11.3.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="~/Scripts/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("/images/loginBG.jpg", {speed: 500});
    </script>


</body>
</html>

